.chatlist {
  min-width: 19rem;
  max-width: 24rem;
  height: 90vh;
  overflow-y: scroll;
  border-right: 1px solid rgba(221, 221, 221, 0.2);
  scroll-behavior: smooth;
}
.chatlist::-webkit-scrollbar {
  width: 7px;
}
.chatlist::-webkit-scrollbar-thumb {
  background-color: #323739;
  border: none;
  margin: 2px 5px;
}
.chatlist::-webkit-scrollbar-track {
  background-color: #131c21;
}
