.chatscreen {
  height: 90vh;
  width: 100%;
}
.chatscreen__container {
  height: 90vh;
  display: grid;
}

.chatscreen__message-container {
  padding: 2em 8em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  color: #ddd;
}
.chatscreen__message-container::-webkit-scrollbar {
  width: 7px;
}
.chatscreen__message-container::-webkit-scrollbar-thumb {
  background-color: rgba(31, 31, 31, 1);
  border-radius: 6px;
}
.chatscreen__message-container::-webkit-scrollbar-track {
  background-color: #111;
}

.message-incoming {
  background-color: #262d31;
  margin: 1em 0;
  padding: 0.8em;
  border-radius: 8px;
  border-top-left-radius: 0px;
  max-width: 24em;
  align-self: flex-start;
  box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.007);
}

.message-outgoing {
  position: relative;
  background-color: #056162;
  margin: 1em 0;
  padding: 0.8em;
  border-radius: 8px;
  border-top-right-radius: 0px;
  max-width: 24em;
  align-self: flex-end;
  box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.007);
}
.message-container__display-name {
  top: -6px;
  margin-bottom: 4px;
  margin-top: 0;
  font-size: 0.8rem;
  color: #828689;
}
.chatscreen__inputs {
  display: flex;
  align-self: end;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 0.5em;
  background-color: #2a2f32;
}
.chatscreen__buttons .icon-button {
  font-size: 1.3em;
  padding: 0.5em;
  color: #828689;
}

.chatscreen__chat-input {
  flex: 1;
  padding: 0.6em 1.2em;
  margin: 0.6em 0.2em;
  outline: none;
  border: none;
  border-radius: 24px;
  background-color: #33383b;
  color: #ddd;
  font-size: 1.04rem;

  z-index: 100;
}

.send-button {
  background-color: #056162;
  margin: 0 4px;
  color: #fff;
  /* display: none; */
}
.send-button:hover {
  background-color: #ddd;

  color: #056162;
  /* display: none; */
}

@media screen and (max-width: 1000px) {
  .chatscreen__message-container {
    padding: 2em;
  }
  .chatscreen__chat-input {
    flex-wrap: nowrap;
    z-index: 1;
    font-size: 0.9rem;
  }
  .chatscreen__buttons .icon-button {
    font-size: 0.9em;
    padding: 0.5em;
    color: #828689;
  }
}
@media screen and (max-width: 500px) {
  .chatscreen__message-container {
    padding: 1em;
  }
  .chatscreen__chat-input {
    flex-wrap: nowrap;
    z-index: 1;
    font-size: 0.9rem;
  }
  .chatscreen__buttons .icon-button {
    font-size: 0.9em;
    padding: 0.5em;
    color: #828689;
  }
}
