main {
  display: flex;
}

.chatlist {
  min-width: 25%;
}
.chatscreen {
  height: 100vh;
  width: 75%;
}

@media screen and (max-width: 1000px) {
  .chatscreen {
    height: 90vh;
  }
  .chatlist {
    min-width: 12em;
  }
  body {
    overflow-x: scroll;
  }
}
