main {
  display: flex;
}

.chatlist {
  min-width: 25%;
}
.chatscreen {
  height: 90vh;
  width: 75%;
}

@media screen and (max-width: 1000px) {
  .chatlist {
    display: none;
    pointer-events: none;
    opacity: none;
  }
}
